.contact-form {
  margin-top: 15px;
}

.form-control {
  box-shadow: none;
  border-color: black;
  height: 42px;
  margin-bottom: 36px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #00b09c;
}
.form-control-feedback {
  line-height: 50px;
}
.main-btn {
  background: #00b09c;
  border-color: #00b09c;
  color: #fff;
  margin-top: 35px;
}
.main-btn:hover {
  background: #00a491;
  color: #fff;
}

.pp {
  border: 2px solid black;
}

.error-fields {
  color: red;
  margin-top: -34px;
}

.form-article {
  margin-left: 40px;
  margin-top: 40px;
  padding-bottom: 120px;
  width: 75%;
}

.add-article {
  width: 60%;
}
.create-article {
  display: flex;
  align-items: center;
  /*background-color: blueviolet;*/
}

.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  margin-top: 25px;
  background-color: #fff;
}

.social-links li a {
  border-radius: 50%;
  color: rgba(121, 121, 121, 0.8);
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid rgba(121, 121, 121, 0.5);
  text-align: center;
  width: 30px;
}

.social-links li a:hover {
  color: #797979;
  border: 2px solid #797979;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b !important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad !important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
.MuiList-root {
  color: black;
}

.MuiFormControl-root {
  margin: 15px 0px 0px 0px !important;
}

.MuiSnackbar-root {
  position: relative !important;
  margin-bottom: 25px;
  left: 0px !important;
}
@media (max-width: 758px) {
  .create-article {
    display: block;
  }
  .add-article {
    width: 100%;
    text-align: center;
  }
  .form-article {
    width: 90%;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .card-box {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .filed-form {
    width: 300px;
  }
  .main-btn {
    width: 300px;
  }
  .form-article {
    justify-content: center;
  }
}

@media (max-width: 328px) {
  .form-article {
    width: 100%;
    margin: 0 auto;
  }

  .filed-form {
    width: 280px;
  }
  .main-btn {
    width: 280px;
  }
}
